/* Navigation bar with color and style*/
ul {
    background-color: #05E0DA;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
}
/* Links get special font and color*/
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Fantasy;
}
/* Shows text as red when hovered over*/
li a:hover {
    color: #a80a18;
}

a {
    display: block;
    padding: 8px;
}
/* Shows text as red when on page */
.active {
    color: #a80a18;
}