ul {
    background-color: #e34949;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #e05c5c;
}

a {
    display: block;
    padding: 8px;
}

.active {
    background-color: #a80a18;
}