/* Body colour/background*/
body {
    background-image: url("../img/theater-walhalla.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-color: #F8012D;
}

/* Table color,shape and text-align/font */
#codes{
    border-collapse: collapse;
    width: 25%;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

tfoot td {
    text-align: center;
    font-weight: bold;
}

tr {
    background-color: #ff0000;
}

tr.odd {
    background-color: #bf1919;
}

tbody tr:nth-child(odd) {
    background-color: #bf1919;
}

/* Flexbox for divs, makes them align in a row*/
div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
}

/* Size of image is set to a certain amount of px */
img {
    height: 300px;
    width: 400px;
}

/* Image per show gets shown in this visual */
.polaroid {
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    position: relative;
    cursor: pointer;
}

/* Title of show gets shown in this box */
.container {
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
}

/* Hover over polaroid, shows h2 */
.polaroid > div,.polaroid > h2{
    position: absolute;
    background-color: white;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 4px;
    padding: 8px;
    overflow: hidden;
    opacity: 0;
    transition: .3s;
}

.polaroid:hover > h2{
    bottom: 4px;
    opacity: 1;
}

/* Changes image size for different types of screens */

@media screen and (max-width: 992px){
    .polaroid{
        height: 30px;
        width: 50px;
    }
    .container{
        height: 20px;
        width: 10px;
    }
    img{
        height: 50px;
        width: 50px;
    }
    h1,h2{
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    .polaroid{
        height: 12px;
        width: 25px;
    }
    .container{
        display: flex;
    }
    img{
        height: 50px;
        width: 30px;
    }
    h1,h2{
        font-size: 5px;
    }
}