/* Body colour/background*/
body {
    background-image: url("../img/theater-walhalla.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-color: #F8012D;
}

img {width: 100%}

/* Image per show gets shown in this visual */
.polaroid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    position: relative;
    cursor: pointer;
}

/* Title of show gets shown in this box */
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
}

/* Hover over polaroid, shows h2 */
.polaroid > div,.polaroid > h2{
    position: absolute;
    background-color: white;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 4px;
    padding: 8px;
    overflow: hidden;
    opacity: 0;
    transition: .3s;
}

.polaroid:hover > h2{
    bottom: 4px;
    opacity: 1;

}

/* Changes image size for different types of screens */

@media screen and (max-width: 992px){
    .polaroid,.container{
        width: 20%;
    }
}

@media screen and (max-width: 600px) {
    .polaroid,.container {
        width: 10%;
    }
}

/* Makes images and titles flexible */
.polaroid and .container {
    display: flex;
}
